*{
     margin: 0;
     padding: 0;
    text-decoration: none;
}

.header {
    background: rgb(44, 44, 44);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.conteiner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_item {
    margin-right: 35px;
    color: rgb(228, 228, 228);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.nav_item:hover {
    color: rgb(131, 174, 157);
}

.hero_block {
    background: rgb(44, 44, 44);
}

.container_hero-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 94px 0px 198px;
}

.hero-dlock_text {
    color: rgb(228, 228, 228);
    font-family: Inter;
    font-size: 52px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 44px;
}

.hero-dlock_link {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 6px;
    background: rgb(204, 150, 10);
    padding: 13px 31px;
}

.about {
    background: rgb(62, 62, 62)
}

.container_about {
    padding: 59px 0 167px;
}

.about__title {
    color: rgb(228, 228, 228);
    
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 48px;
text-align: center;
}

.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__text {
    max-width: 557;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
}

.footer{
    background: rgb(44, 44, 44);
}

.container__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 52px;
}

.footer__title{
    color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 18px;
}

footer__text{
    color: rgb(228, 228, 228);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
}

.footer__list{
    display: flex;
    list-style: none;
}

.footer__item{
    margin-right: 40px;
}